//@include establish-baseline;

// html {
//   @include adjust-leading-to(4);
// }

// body {
//   //@include debug-vertical-alignment();
//   margin: 0;
// }

.visuallyhidden {
  @extend %visuallyhidden;
}


.fri-container {
  font-family: $serif-font-family;
  color: $base-font-color;
  width: $container-width;
  margin: 0 auto;
  font-size: 1.4em;
  line-height: 1.7;
  margin: 20px 0;
  @extend %clearfix;

  h1 {
    @include adjust-font-size-to(20px);
    margin: 0 0 rhythm(2, 20px);
  }

  h2 {
    font-weight: normal;
  }

  h3 {
    font-size: 1em;
    margin: 0 0 .5em;
  }

  p {
    margin: 0 0 1em;
  }
  p, li {
    font-size: 1em;
  }
}

.fri-main {
  a {
    color: $base-font-color;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  h3 {
    margin: 20px 0 5px;
  }
}

.fri-intro {
  background: #fff;
  padding: 20px 4em;
}

.fri-aside-header {
  background: #818285;
  h2 {
    padding: 20px 0;
    color: #fff;
    text-align: center;
    margin: 0;
    font-weight: bold;
  }
}

.fri-header {
  margin-bottom: 10px;
  overflow: hidden;
  h1 {
    padding: 15px 30px;
    margin: 0;
    font-size: 20px;
    line-height: 1.25;
    a {
      color: $base-color-dark;
      text-decoration: none;
      display: inline-block;
      position: relative;
      &:hover {
        text-decoration: underline;
      }
      &:before, 
      &:after {
        content: "";
        position: absolute;
        height: 13px;
        border-bottom: 1px solid $base-color-dark;
        top: 0;
        width: 800px;
      }
      &:before {
        right: 100%;
        margin-right: 15px;
      }
      &:after {
        left: 100%;
        margin-left: 15px;
      }
    }
    span {
      &:before,
      &:after {
        $radius: 3px;
        @include tiny-circle($radius);
        left: -15px;
        top: 11px;
      }
      &:after {
        left: auto;
        right: -15px;
      }
    }
  }

}

.fri-dl-horizontal {
  dt {
    float: left;
    width: 50%;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd {
    margin-left: 50%;
    text-align: right;
  }
}